* {
  padding: 0em;
  margin: 0em;
  box-sizing: border-box;
  text-decoration: none;
  width: 100%;
  outline: none;
}

@mixin button {
  display: flex;
  justify-content: space-evenly;
  width: 100px;
  background-color: #56AED4;
  color: #fff;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 14px;
  text-transform: capitalize;
  margin: 1em 0em;
  cursor: pointer;
}

img {
  width: 100%;
}

h2 {
  font-size: 1em;
}

.straight_line {
  width: 100%;
  padding: 0.1em;
  background-color: #E1E0DF;
  z-index: -5;
}

.underline {
  width: 100%;
  display: flex;
  padding: 0em;
  margin: 0em;

  .color {
    width: 20%;
    background-color: #56AED4;
    padding: 0.1em;
  }

  .nuetral {
    width: 80%;
    background-color: #E1E0DF;
    padding: 0.05em;
    align-self: flex-start;

  }
}

.dark {
  background-color: #272727;
  color: #fff;
}

body {

  background-color: #F5F5F5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  h3,
  h2 {
    font-size: 1.5em;
  }

  .img_window {
    border: 1px solid #E1E0DF;
    border-bottom: none;
    width: 100%;
    margin: 0 auto;
    position: relative;

    .text {
      display: none;

      div {}
    }

    .bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0em;
      background-color: rgba(0, 0, 0, 0.5);
    }

    img {
      max-width: 100%;
      height: auto;
    }


    .img_tracker {
      width: 60px;
      padding: 0.7em 2em;
      display: flex;
      justify-content: space-evenly;
      background-color: #272727;
      border-radius: 5px;
      position: absolute;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -0%);
      bottom: 0em;

      .trackers {
        border-radius: 100px;
        padding: 0.3em;
        margin: 0em 0.2em;
        background-color: #686868;
        border: 1px solid #686868;
      }
    }
  }

  header {
    width: 100%;
    margin: 0 auto;
    padding: 0.5em;
    margin-top: -5px;
    background-color: #272727;
    color: #fff;

    .transform {
      padding: 1em;
      width: 100%;
      margin: 0em auto;
      text-align: center;
      cursor: pointer;

      .transform-icon {
        width: 30px;
        font-size: 30px;
        transition: 1s;

        &:hover {
          transform: rotateZ(360deg);
        }
      }

      .transform-text {
        font-size: 1.7em;
        font-weight: 500;
        margin-left: 0.3em;
      }
    }

    .navigation {
      width: 100%;
      position: relative;
      padding-bottom: 3em;

      .menu {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0em auto;
        background-color: #000;
        color: #fff;
        padding: 0.2em 0.5em;
        cursor: pointer;
        align-items: center;

        p {
          width: 95%;
        }

        .glyphicon-chevron-down {
          width: 20px;
          font-size: 10px;
        }
      }

      nav {
        position: relative;
        width: 90%;
        margin: 0em auto;
        z-index: 20;
        align-self: flex-end;


        ul {
          display: none;
          position: absolute;
          top: 0px;
          width: 100%;
          background-color: #ffffff;
          padding: 0.2em;
          border: 1px solid;
          color: #000;
          text-align: left;
          overflow-y: scroll;

          .fa {
            display: none;
          }

          div {
            margin: 0em;
            padding: 0em;
            text-align: left;
          }

          a,
          li {
            text-decoration: none;
            color: #000000;
            display: block;
            padding-left: 5px;

            &:hover {
              background-color: #0086ff;
              color: #ffffff;
            }
          }


        }
      }
    }
  }

  main {
    width: 95%;
    margin: 0em auto;

    .section_1 {
      .column_1 {
        margin-bottom: 2em;

        .button {
          @include button;
          margin-top: 1em;
        }
      }

      .column_2 {
        .column_2_grid {
          margin: 2em 0em;
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          row-gap: 1em;

          span {
            font-size: 3em;
          }

          .grid1 {
            grid-column: 1/3;
            grid-row: 1/3;
          }

          .grid2 {
            grid-column: 3/13;
            grid-row: 1;
          }

          .grid3 {
            grid-column: 1/3;
            grid-row: 2/4;
          }

          .grid4 {
            grid-column: 3/13;
            grid-row: 2;
          }

          .grid5 {
            grid-column: 1/3;
            grid-row: 3;
          }

          .grid6 {
            grid-column: 3/13;
            grid-row: 3;
          }
        }
      }

      .column_3 {
        .box1 {
          img {
            width: 50%;
          }

          .button {
            @include button;
          }
        }

        .box2 {
          img {
            width: 50%;
          }

          .button {
            @include button;
          }
        }

        .box3 {
          img {
            width: 50%;
          }

          .button {
            @include button;
          }
        }
      }
    }

    .section_2 {
      background-image: url('./images/2(1).jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 2em 0em;

      .sub_section2 {
        background-color: rgba(225, 225, 225, 0.9);
        padding: 2em;

        .arrow_right {
          display: flex;
          justify-content: space-between;

          .glyphicon-arrow-right {
            width: 3%;
          }

          span {
            width: 95%;
          }
        }


        .logo {
          width: 40%;
          margin: 0em auto;

          img {
            border-radius: 150px;
            width: 100%;
          }
        }

        div {
          margin: 1em 0em;
        }

        .blue {
          background-color: #56AED4;
          color: #fff;
          width: 90px;
          border-radius: 5px;
          padding: 0.3em 0em;
          font-size: 0.8em;
          text-align: center;
          cursor: pointer;
          margin-right: 15px;
        }

        .orange {
          background-color: #FF9900;
          color: #fff;
          width: 105px;
          border-radius: 5px;
          padding: 0.3em 0em;
          font-size: 0.8em;
          text-align: center;
          cursor: pointer;
        }
      }
    }

    .section_3 {
      margin-bottom: 6em;

      img {
        border-radius: 80px;
        width: 70%;
      }

      .box1 {
        margin: 1em 0em;

        .name {
          font-size: 1.5em;
          margin-top: 0.5em;
          color: #56AED4;
        }

        .phone {
          margin-top: 0.5em;

          .glyphicon-earphone {
            width: 15px;
            border-radius: 50px;
          }
        }
      }

      .box2 {
        text-align: center;
        margin: 4em 0em;

        .change_container {
          font-size: 1.1em;
          border: 2px solid #E1E0DF;
          padding: 1em;

          &:hover {
            background-color: #fff;
          }

          .change_2 {
            display: none;
          }

          .change_3 {
            display: none;
          }

        }

        div {
          text-align: left;
          padding: 0em;
          margin: 0em;

          .glyphicon-triangle-bottom {
            font-size: 45px;
            font-weight: normal;
            color: #E1E0DF;
            margin-top: -12px;
            margin-left: 20px;

          }
        }

        .name {
          text-align: left;
          margin-top: -30px;
        }

        .change_tracker {
          width: 100px;
          display: flex;
          margin: 0em auto;

          .change_tracker {
            width: 1px;
            border: 1px solid #000;
            padding: 0.4em;
            border-radius: 60px;
            margin: 3px;
          }
        }
      }
    }

    .blue_arrow {
      text-align: center;
      margin: 3em 0em;
      margin-top: -1.8em;

      .glyphicon-circle-arrow-up {
        width: 50px;
        font-size: 50px;
        border-radius: 70px;
        text-align: center;
        transition: 1s;

        &:hover {
          transform: rotate(360deg);
        }
      }
    }

    .section_4 {
      background-color: #fff;
      padding: 1em;
      margin-bottom: 5em;

      .box1 {
        margin-bottom: 3em;

        div {
          h3 {
            margin: 0.5em 0em;
            font-size: 1.5em;
          }

          p {
            margin: 1.5em 0.3em;
            border-bottom: 0.5px solid #E1E0DF;

            a {
              text-decoration: none;
            }
          }
        }
      }

      .box2 {
        div {
          h3 {
            font-size: 1.5em;
            margin-bottom: 0.5em;
          }

          p {
            margin: 0.5em 0em;
          }
        }

        form {
          input[type=email] {
            width: 80%;
            padding: 0.5em;
            border-radius: 10px;
            margin: 0.5em 0em;
            border: 2px solid #E1E0DF;
          }

          input[type=submit] {
            width: 70px;
            padding: 0.2em;
            border-radius: 10px;
            margin: 0.5em 0em;
            font-size: 1em;
            background-color: #56AED4;
            color: #fff;
            border: none;
            transition: 1s;

            &:hover {
              background-color: #646A78;
            }
          }
        }

        .social_media {
          margin: 0.5em;
          display: flex;
          flex-wrap: wrap;

          div {
            width: 40px;
            text-align: center;
            margin: 0.3em;
            padding: 0.5em 0.4em;
            border-radius: 60px;
            transition: 700ms;
            background-color: #E1E0DF;

            span {
              font-size: 16px;
            }

            &:hover {


              transform: rotateZ(360deg);
              color: #fff;

            }
          }

          .facebook {
            &:hover {
              background-color: #3B5999;
              color: #fff;
            }
          }

          .pinterest {
            &:hover {
              background-color: #EA4C89;
            }
          }

          .twitter {
            &:hover {
              background-color: #DB4A39;
            }
          }

          .dribbble {
            &:hover {
              background-color: #0E76A9;
            }
          }

          .linkedin {
            &:hover {
              background-color: #C8222C;
            }
          }

          .googleplus {
            &:hover {
              background-color: #00ACEE;
            }
          }
        }
      }

      .box3 {
        margin: 2em 0em;

        div {
          h3 {
            font-size: 1.5em;
          }

          p {
            margin: 1em 0em;

            a {
              text-decoration: none;

              .glyphicon-arrow-right {
                width: 15px;
                border-radius: 50px;
                margin-right: 0.5em;
                color: #000;
              }
            }
          }

        }
      }

      .box4 {
        margin: 2em 0em;

        div {
          margin-top: 0.5em;

          h3 {
            font-size: 1.5em;
          }

          .glyphicon {
            width: 15px;
            margin-right: 0.3em;
          }
        }
      }
    }
  }

  .transform2 {
    border: 1px solid;
    width: 150px;
    margin: 0em auto;
    margin-top: -35px;
    display: flex;
    padding: 0.2em 0.5em;
    border-radius: 10px;
    background-color: #34495E;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: #629CC0;

      .glyphicon {
        transform: rotateZ(360deg);
      }

    }

    span {
      font-size: 1em;
      font-weight: bold;
      margin-top: 0.5em;

    }

    .glyphicon {
      width: 23px;
      font-size: 23px;
      margin-right: 0.3em;
      margin-bottom: 0.4em;
      transition: 1s;


    }
  }

  footer {
    text-align: center;
    margin: 2em 0em;
  }
}

@import "./mediaqueries"