* {
  padding: 0em;
  margin: 0em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  width: 100%;
  outline: none;
}

img {
  width: 100%;
}

h2 {
  font-size: 1em;
}

.straight_line {
  width: 100%;
  padding: 0.1em;
  background-color: #E1E0DF;
  z-index: -5;
}

.underline {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0em;
  margin: 0em;
}

.underline .color {
  width: 20%;
  background-color: #56AED4;
  padding: 0.1em;
}

.underline .nuetral {
  width: 80%;
  background-color: #E1E0DF;
  padding: 0.05em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.dark {
  background-color: #272727;
  color: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 0;
}

body h3,
body h2 {
  font-size: 1.5em;
}

body .img_window {
  border-bottom: none;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

body .img_window .text {
  display: none;
}

body .img_window .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0em;
  background-color: rgba(0, 0, 0, 0.5);
}

body .img_window img {
  max-width: 100%;
  height: auto;
}

body .img_window .img_tracker {
  width: 70px;
  padding: 0.7em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #272727;
  position: absolute;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  bottom: 0em;
}

body .img_window .img_tracker .trackers {
  border-radius: 100px;
  padding: 0.3em;
  margin: 0em 0.2em;
  background-color: #686868;
  border: 1px solid #686868;
}

body header {
  width: 100%;
  margin: 0 auto;
  padding: 0.5em;
  margin-top: -5px;
  background-color: #272727;
  color: #fff;
  border-bottom: 4px solid #686868;
}

body header .transform {
  padding: 1em;
  width: 100%;
  margin: 0em auto;
  text-align: center;
  cursor: pointer;
}

body header .transform .transform-icon {
  width: 30px;
  font-size: 30px;
  -webkit-transition: 1s;
  transition: 1s;
}

body header .transform .transform-icon:hover {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

body header .transform .transform-text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.9em;
  font-weight: 500;
  margin-left: 0.3em;
}

body header .navigation {
  width: 100%;
  position: relative;
  padding-bottom: 3em;
}

body header .navigation .menu {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0em auto;
  background-color: #000;
  color: #fff;
  padding: 0.2em 0.5em;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .navigation .menu p {
  width: 95%;
  margin-top: 7px;
}

body header .navigation .menu .fa {
  width: 20px;
  font-size: 15px;
}

body header .navigation nav {
  position: relative;
  width: 90%;
  margin: 0em auto;
  z-index: 20;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body header .navigation nav ul {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: #000000;
  padding: 0.2em;
  border: 1px solid #5f6064;
  text-align: left;
}

body header .navigation nav ul .fa {
  display: none;
}

body header .navigation nav ul div {
  margin: 0em;
  padding: 0em;
  text-align: left;
}

body header .navigation nav ul .sub {
  display: none;
}

body header .navigation nav ul a,
body header .navigation nav ul li {
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding-left: 5px;
}

body header .navigation nav ul a:hover,
body header .navigation nav ul li:hover {
  background-color: #0086ff;
  color: #ffffff;
}

body main {
  width: 100%;
  margin: 0em auto;
}

body main .section_1 {
  padding: 0em 1em;
  padding-bottom: 2em;
  background-color: #F5F5F5;
}

body main .section_1 .column_1 {
  padding: 1em 0em;
  padding-top: 3em;
}

body main .section_1 .column_1 img {
  width: 100%;
}

body main .section_1 .column_1 h2 {
  font-family: 'Times New Roman', Times, serif;
}

body main .section_1 .column_1 .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100px;
  background-color: #56AED4;
  color: #fff;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 14px;
  text-transform: capitalize;
  margin: 1em 0em;
  cursor: pointer;
  margin-top: 1em;
}

body main .section_1 .column_2 .column_2_grid {
  margin: 1em 0em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  row-gap: 1em;
}

body main .section_1 .column_2 .column_2_grid span {
  font-size: 3em;
  font-family: 'Times New Roman', Times, serif;
}

body main .section_1 .column_2 .column_2_grid .grid1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

body main .section_1 .column_2 .column_2_grid .grid2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-column: 3/13;
  -ms-grid-row: 1;
  grid-row: 1;
}

body main .section_1 .column_2 .column_2_grid .grid3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

body main .section_1 .column_2 .column_2_grid .grid4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-column: 3/13;
  -ms-grid-row: 2;
  grid-row: 2;
}

body main .section_1 .column_2 .column_2_grid .grid5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  grid-row: 3;
}

body main .section_1 .column_2 .column_2_grid .grid6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-column: 3/13;
  -ms-grid-row: 3;
  grid-row: 3;
}

body main .section_1 .column_3 .box1 img {
  width: 50%;
}

body main .section_1 .column_3 .box1 .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100px;
  background-color: #56AED4;
  color: #fff;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 14px;
  text-transform: capitalize;
  margin: 1em 0em;
  cursor: pointer;
  border-radius: 7px;
}

body main .section_1 .column_3 .box2 img {
  width: 50%;
}

body main .section_1 .column_3 .box2 .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100px;
  background-color: #56AED4;
  color: #fff;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 14px;
  text-transform: capitalize;
  margin: 1em 0em;
  cursor: pointer;
  border-radius: 7px;
}

body main .section_1 .column_3 .box3 img {
  width: 50%;
}

body main .section_1 .column_3 .box3 .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100px;
  background-color: #56AED4;
  color: #fff;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 14px;
  text-transform: capitalize;
  margin: 1em 0em;
  cursor: pointer;
}

body main .section_2 {
  background-image: url("./images/2(1).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0em;
  background-color: #F5F5F5;
}

body main .section_2 .sub_section2 {
  background-color: rgba(225, 225, 225, 0.9);
  padding: 2em;
}

body main .section_2 .sub_section2 .arrow_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .section_2 .sub_section2 .arrow_right .glyphicon-arrow-right {
  width: 3%;
  margin-right: 15px;
}

body main .section_2 .sub_section2 .arrow_right span {
  width: 95%;
}

body main .section_2 .sub_section2 .logo {
  width: 90%;
  margin: 0em auto;
}

body main .section_2 .sub_section2 .logo img {
  border-radius: 150px;
  width: 100%;
}

body main .section_2 .sub_section2 div {
  margin: 1em 0em;
}

body main .section_2 .sub_section2 .blue {
  background-color: #56AED4;
  color: #fff;
  width: 90px;
  border-radius: 5px;
  padding: 0.3em 0em;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  margin-right: 15px;
}

body main .section_2 .sub_section2 .orange {
  background-color: #FF9900;
  color: #fff;
  width: 105px;
  border-radius: 5px;
  padding: 0.3em 0em;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
}

body main .section_3 {
  margin-bottom: 6em;
  padding: 1em 1em;
  background-color: #F5F5F5;
}

body main .section_3 h1 {
  font-size: 1.6em;
}

body main .section_3 .img {
  text-align: center;
}

body main .section_3 .img img {
  border-radius: 100%;
  width: 70%;
}

body main .section_3 .box1 {
  margin: 1em 0em;
}

body main .section_3 .box1 .name {
  font-size: 1.5em;
  margin-top: 0.5em;
  color: #56AED4;
}

body main .section_3 .box1 .phone {
  margin-top: 0.5em;
}

body main .section_3 .box1 .phone .glyphicon-earphone {
  width: 15px;
  border-radius: 50px;
}

body main .section_3 .box2 {
  text-align: center;
  margin: 4em 0em;
}

body main .section_3 .box2 .change_container {
  font-size: 1em;
  border: 2px solid #E1E0DF;
  padding: 1em;
}

body main .section_3 .box2 .change_container:hover {
  background-color: #fff;
}

body main .section_3 .box2 .change_container .change_2 {
  display: none;
}

body main .section_3 .box2 .change_container .change_3 {
  display: none;
}

body main .section_3 .box2 div {
  text-align: left;
  padding: 0em;
  margin: 0em;
}

body main .section_3 .box2 div .glyphicon-triangle-bottom {
  font-size: 45px;
  font-weight: normal;
  color: #E1E0DF;
  margin-top: -12px;
  margin-left: 20px;
}

body main .section_3 .box2 .name {
  text-align: left;
  margin-top: -30px;
}

body main .section_3 .box2 .name h2 {
  font-size: 1.2em;
  margin-bottom: 0;
}

body main .section_3 .box2 .name p {
  font-size: 0.8em;
  margin-top: 0;
}

body main .section_3 .box2 .change_tracker {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0em auto;
}

body main .section_3 .box2 .change_tracker .change_tracker {
  width: 1px;
  border: 1px solid #000;
  padding: 0.4em;
  border-radius: 60px;
  margin: 3px;
}

body main .blue_arrow {
  text-align: center;
  margin: 3em 0em;
  margin-top: -1.8em;
}

body main .blue_arrow .fa {
  width: 60px;
  font-size: 30px;
  border-radius: 70px;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 16px 10px;
  background-color: #56AED4;
  color: #ffffff;
}

body main .blue_arrow .fa:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

body main .section_4 {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 5em;
}

body main .section_4 .box1 {
  margin-bottom: 3em;
}

body main .section_4 .box1 div h3 {
  margin: 0.5em 0em;
  font-size: 1.5em;
}

body main .section_4 .box1 div p {
  margin: 1.5em 0.3em;
  border-bottom: 0.5px solid #E1E0DF;
  padding-bottom: 5px;
}

body main .section_4 .box1 div p a {
  text-decoration: none;
}

body main .section_4 .box2 div h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

body main .section_4 .box2 div p {
  margin: 0.5em 0em;
}

body main .section_4 .box2 form input[type=email] {
  width: 100%;
  padding: 0.3em;
  border-radius: 10px;
  margin: 0.5em 0em;
  border: 2px solid #E1E0DF;
}

body main .section_4 .box2 form input[type=submit] {
  width: 70px;
  padding: 0.2em;
  border-radius: 10px;
  margin: 0.5em 0em;
  font-size: 1em;
  background-color: #56AED4;
  color: #fff;
  border: none;
  -webkit-transition: 1s;
  transition: 1s;
}

body main .section_4 .box2 form input[type=submit]:hover {
  background-color: #646A78;
}

body main .section_4 .box2 .social_media {
  margin: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .section_4 .box2 .social_media div {
  width: 30px;
  text-align: center;
  margin: 0.3em;
  padding: 0.2em 0.4em;
  border-radius: 60px;
  -webkit-transition: 700ms;
  transition: 700ms;
  background-color: #E1E0DF;
}

body main .section_4 .box2 .social_media div span {
  font-size: 14px;
}

body main .section_4 .box2 .social_media div:hover {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
  color: #fff;
}

body main .section_4 .box2 .social_media .facebook:hover {
  background-color: #3B5999;
  color: #fff;
}

body main .section_4 .box2 .social_media .pinterest:hover {
  background-color: #EA4C89;
}

body main .section_4 .box2 .social_media .twitter:hover {
  background-color: #DB4A39;
}

body main .section_4 .box2 .social_media .dribbble:hover {
  background-color: #0E76A9;
}

body main .section_4 .box2 .social_media .linkedin:hover {
  background-color: #C8222C;
}

body main .section_4 .box2 .social_media .googleplus:hover {
  background-color: #00ACEE;
}

body main .section_4 .box3 {
  margin: 2em 0em;
}

body main .section_4 .box3 div h3 {
  font-size: 1.5em;
}

body main .section_4 .box3 div p {
  margin: 1.5em 0em;
}

body main .section_4 .box3 div p a {
  text-decoration: none;
}

body main .section_4 .box3 div p a .glyphicon-arrow-right {
  width: 15px;
  border-radius: 50px;
  margin-right: 0.5em;
  color: #000;
}

body main .section_4 .box4 {
  margin: 2em 0em;
}

body main .section_4 .box4 div {
  margin-top: 0.5em;
}

body main .section_4 .box4 div h3 {
  font-size: 1.5em;
}

body main .section_4 .box4 div .glyphicon {
  width: 15px;
  margin-right: 0.3em;
}

body .prefooter {
  background-color: #ffffff;
  color: #000000;
}

body .prefooter .transform2 {
  border: 1px solid;
  width: 190px;
  margin: 0em auto;
  margin-top: -27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2em 0.7em;
  border-radius: 10px;
  background-color: #34495E;
  color: #fff;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body .prefooter .transform2:hover {
  background-color: #629CC0;
}

body .prefooter .transform2:hover .glyphicon {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

body .prefooter .transform2 span {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0.5em;
}

body .prefooter .transform2 .glyphicon {
  width: 23px;
  height: 23px;
  font-size: 23px;
  margin-right: 0.3em;
  margin-bottom: 0.4em;
  -webkit-transition: 1s;
  transition: 1s;
}

body footer {
  text-align: center;
  margin: 2em 0em;
}

body footer a:hover {
  text-decoration: none;
}

@media (min-width: 1030px) {
  @-webkit-keyframes rightflow {
    0% {
      -webkit-transform: translateX(920px);
              transform: translateX(920px);
    }
    100% {
      -webkit-transform: translateX(1px);
              transform: translateX(1px);
    }
  }
  @keyframes rightflow {
    0% {
      -webkit-transform: translateX(920px);
              transform: translateX(920px);
    }
    100% {
      -webkit-transform: translateX(1px);
              transform: translateX(1px);
    }
  }
  h2 {
    font-size: 1em;
  }
  body {
    font-size: 16px;
  }
  body .img_window {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  body .img_window .text {
    position: absolute;
    top: 0em;
    display: block;
    z-index: 200;
    font-size: 1em;
    color: #fff;
    text-align: center;
    opacity: 0.5;
  }
  body .img_window .text:hover {
    opacity: 1;
  }
  body .img_window .text div {
    display: none;
  }
  body .img_window .text div h1 {
    font-size: 10em;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-animation-name: rightflow;
            animation-name: rightflow;
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    margin: 0;
  }
  body .img_window .text div h2 {
    font-size: 3em;
    -webkit-animation-name: rightflow;
            animation-name: rightflow;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    margin: 0;
  }
  body .img_window .text div button {
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    width: 200px;
    background-color: #9BD4DF;
    color: #fff;
    -webkit-animation-name: rightflow;
            animation-name: rightflow;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-transition: 1s;
    transition: 1s;
  }
  body .img_window .text div button:hover {
    background-color: #6383AA;
  }
  body .img_window img {
    max-width: 100%;
    height: auto;
  }
  body .img_window .img_tracker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: #272727;
    position: absolute;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    bottom: 0em;
  }
  body header {
    width: 100%;
    margin: 0 auto;
    padding: 0em 0em;
    background-color: #272727;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -7px;
  }
  body header .transform {
    width: 450px;
    padding: 1.1em 0em;
    padding-top: 1.5em;
    margin: 0em;
    text-align: left;
    padding-left: 27px;
    position: relative;
  }
  body header .transform .transform-icon {
    width: 50px;
    font-size: 50px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  body header .transform .transform-icon:hover {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  body header .transform .transform-text {
    font-size: 2.3em;
    font-weight: 500;
    margin-left: 0.3em;
    position: absolute;
    top: 23px;
  }
  body header .navigation {
    width: 480px;
    position: relative;
    padding: 0em;
    text-align: right;
  }
  body header .navigation .menu {
    display: none;
  }
  body header .navigation nav {
    width: 100%;
    position: relative;
    margin: 0em;
    padding: 0em;
    z-index: 20;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body header .navigation nav ul {
    position: static;
    width: 100%;
    background-color: #272727;
    padding: 0em;
    border: none;
    color: #fff;
    text-align: center;
    overflow-y: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    list-style-type: none;
  }
  body header .navigation nav ul .fa {
    display: inline-block;
    width: 10px;
  }
  body header .navigation nav ul div {
    margin: 0em;
    padding: 0em;
    text-align: left;
  }
  body header .navigation nav ul li {
    color: #fff;
    display: inline-block;
    padding-left: 0px;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  body header .navigation nav ul li:hover {
    background-color: #50C6C6;
  }
  body header .navigation nav ul i {
    color: #fff;
  }
  body header .navigation nav ul a {
    color: #fff;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  body header .navigation nav ul a:hover {
    background-color: #50C6C6;
  }
  body header .navigation nav ul .dash {
    display: none;
  }
  body header .navigation nav ul .home {
    background-color: #333333;
    border-top: 4px solid #50C6C6;
    padding: 25px 5px;
    width: 70px;
    text-align: center;
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 0;
  }
  body header .navigation nav ul .home:hover {
    background-color: #333333;
    color: #fff;
  }
  body header .navigation nav ul .main {
    font-size: 0.8em;
    text-transform: uppercase;
  }
  body header .navigation nav ul .main:hover {
    background-color: #272727;
    color: #fff;
  }
  body header .navigation nav ul .pages {
    padding: 30px 5px;
    width: 90px;
    height: 94px;
    text-align: center;
    position: relative;
    border-top: 4px solid #272727;
  }
  body header .navigation nav ul .pages .nav_item {
    display: none;
  }
  body header .navigation nav ul .pages .sub {
    display: none;
  }
  body header .navigation nav ul .pages .showsub {
    position: relative;
  }
  body header .navigation nav ul .pages .showsub:hover .sub {
    display: block;
    position: absolute;
    top: 0em;
    left: 190px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  body header .navigation nav ul .pages .showsub:hover .sub a {
    padding: 10px 4px;
  }
  body header .navigation nav ul .pages:hover {
    background-color: #333333;
    border-top: 4px solid #50C6C6;
  }
  body header .navigation nav ul .pages:hover .nav_item {
    width: 190px;
    display: block;
    position: absolute;
    top: 90px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  body header .navigation nav ul .pages:hover .nav_item li {
    display: block;
    padding: 10px;
  }
  body header .navigation nav ul .pages:hover .nav_item li:hover {
    background-color: #50C6C6;
    color: #ffffff;
  }
  body header .navigation nav ul .pages:hover .nav_item li a {
    color: #ffffff;
    display: block;
  }
  body header .navigation nav ul .elements {
    padding: 30px 5px;
    width: 100px;
    height: 94px;
    text-align: center;
    border-top: 4px solid #272727;
  }
  body header .navigation nav ul .elements:hover {
    background-color: #333333;
    border-top: 4px solid #50C6C6;
  }
  body header .navigation nav ul .elements:hover .nav_item {
    width: 190px;
    display: block;
    position: absolute;
    top: 90px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  body header .navigation nav ul .elements:hover .nav_item li {
    display: block;
    padding: 10px;
  }
  body header .navigation nav ul .elements:hover .nav_item li a {
    color: #ffffff;
    display: block;
  }
  body header .navigation nav ul .elements div {
    display: none;
  }
  body header .navigation nav ul .blogs {
    padding: 30px 5px;
    width: 100px;
    height: 94px;
    text-align: center;
    border-top: 4px solid #272727;
  }
  body header .navigation nav ul .blogs:hover {
    background-color: #333333;
    border-top: 4px solid #50C6C6;
  }
  body header .navigation nav ul .blogs:hover .blogs_overview {
    display: block;
  }
  body header .navigation nav ul .blogs:hover .blogs_overview a {
    color: #ffffff;
    display: block;
    width: 100%;
    padding: 10px 0px;
  }
  body header .navigation nav ul .blogs:hover .blogs_post {
    display: block;
  }
  body header .navigation nav ul .blogs:hover .blogs_post a {
    color: #ffffff;
    display: block;
    width: 100%;
    padding: 10px 0px;
  }
  body header .navigation nav ul .blogs:hover .nav_item {
    width: 250px;
    display: block;
    position: absolute;
    top: 90px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  body header .navigation nav ul .blogs:hover .nav_item li a {
    background-color: #50C6C6;
    color: #ffffff;
    display: block;
    width: 100%;
    padding: 10px 0px;
  }
  body header .navigation nav ul .blogs div .blogs_overview {
    display: none;
  }
  body header .navigation nav ul .blogs div .blogs_overview .fa {
    margin-left: 8px;
  }
  body header .navigation nav ul .blogs div .blogs_overview div {
    display: none;
  }
  body header .navigation nav ul .blogs div .blogs_post {
    display: none;
  }
  body header .navigation nav ul .blogs div .blogs_post .fa {
    margin-left: 8px;
  }
  body header .navigation nav ul .blogs div .blogs_post div {
    display: none;
  }
  body header .navigation nav ul .gallery {
    padding: 30px 5px;
    width: 100px;
    height: 94px;
    text-align: center;
    border-top: 4px solid #272727;
    margin: 0;
  }
  body header .navigation nav ul .gallery:hover {
    background-color: #333333;
    border-top: 4px solid #50C6C6;
  }
  body header .navigation nav ul .gallery:hover .nav_item {
    width: 190px;
    display: block;
    position: absolute;
    top: 90px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  body header .navigation nav ul .gallery:hover .nav_item li {
    display: block;
    padding: 10px;
  }
  body header .navigation nav ul .gallery:hover .nav_item li:hover {
    background-color: #50C6C6;
    color: #ffffff;
  }
  body header .navigation nav ul .gallery:hover .nav_item li a {
    color: #ffffff;
    display: block;
  }
  body header .navigation nav ul .gallery div {
    display: none;
  }
  body main {
    width: 100%;
    margin: 0em auto;
  }
  body main .section_1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    gap: 15px;
    gap: 15px;
    padding: 4em 2em 2em;
  }
  body main .section_1 .column_1 {
    grid-column: span 4;
    padding-top: 1.5em;
  }
  body main .section_1 .column_2 {
    grid-column: span 4;
  }
  body main .section_1 .column_3 {
    grid-column: span 4;
  }
  body main .section_1 .column_3 h2 {
    margin-left: 1em;
  }
  body main .section_1 .column_3 .box1,
  body main .section_1 .column_3 .box2,
  body main .section_1 .column_3 .box3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body main .section_1 .column_3 .box1 img,
  body main .section_1 .column_3 .box2 img,
  body main .section_1 .column_3 .box3 img {
    margin: 2em;
  }
  body main .section_1 .column_3 .box1 div,
  body main .section_1 .column_3 .box2 div,
  body main .section_1 .column_3 .box3 div {
    margin-top: 2em;
  }
  body main .section_2 .sub_section2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    gap: 15px;
  }
  body main .section_2 .sub_section2 .logo {
    grid-column: span 4;
    width: 100%;
    margin: 0em 0em;
  }
  body main .section_2 .sub_section2 .logo img {
    border-radius: 150px;
    width: 70%;
    -webkit-transition: 1s;
    transition: 1s;
  }
  body main .section_2 .sub_section2 div {
    grid-column: span 8;
    margin: 1em 0em;
  }
  body main .section_2 .sub_section2 div .section_2_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body main .section_2 .sub_section2 div .section_2_button div {
    width: 130px;
  }
  body main .section_3 {
    padding: 5em 2em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    gap: 35px;
  }
  body main .section_3 img {
    border-radius: 80px;
    width: 40%;
  }
  body main .section_3 .box1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    margin: 0em 0em;
    width: 100%;
  }
  body main .section_3 .box1 .jane_container {
    margin-bottom: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main .section_3 .box1 .jane_container .img {
    width: 30%;
  }
  body main .section_3 .box1 .jane_container .img img {
    width: 100%;
  }
  body main .section_3 .box1 .jane_container .jane {
    width: 62%;
  }
  body main .section_3 .box2 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-column: 7/12;
    text-align: center;
    margin: 0em 0em;
    width: 100%;
  }
  body main .section_4 {
    padding: 0em 2em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -webkit-column-gap: 35px;
            column-gap: 35px;
    background-color: #fff;
    padding: 1em;
  }
  body main .section_4 .box1 {
    grid-column: span 3;
    margin-bottom: 0em;
  }
  body main .section_4 .box2 {
    grid-column: span 3;
  }
  body main .section_4 .box2 div h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  body main .section_4 .box2 div p {
    margin: 0.4em 0em;
  }
  body main .section_4 .box2 form input[type=email] {
    padding: 0.5em;
    width: 100%;
  }
  body main .section_4 .box2 form input[type=submit] {
    width: 100px;
    padding: 0.2em 0.5em;
  }
  body main .section_4 .box2 .social_media {
    margin: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .section_4 .box3 {
    grid-column: span 3;
    margin: 0em 0em;
  }
  body main .section_4 .box4 {
    grid-column: span 3;
    margin: 0em 0em;
  }
  body .prefooter .transform2 {
    border: 1px solid;
    font-size: 1.5em;
    width: 290px;
    margin: 2em auto;
    margin-top: -35px;
  }
  body .prefooter .transform2 .glyphicon {
    width: 30px;
    height: 30px;
    font-size: 1.4em;
  }
  body footer {
    padding: 1em 0em;
    text-align: center;
    margin: 2em 0em;
    background-color: #ffffff;
  }
}
/*# sourceMappingURL=style.css.map */